@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
@layer base {
    :root {
        --background: 0 0% 100%; /* #FFFFFF */
        --foreground: 222 47% 11%; /* #0F172A */

        --muted: 214 32% 91%; /* #E2E8F0 */
        --muted-foreground: 210 40% 96%; /* #F8FAFC */

        --popover: 0 0% 100%; /* #FFFFFF */
        --popover-foreground: 222 47% 11%; /* #0F172A */

        --border: 214 32% 91%; /* #E2E8F0 */
        --input: 214 32% 91%; /* #E2E8F0 */

        --card: 0 0% 100%; /* #FFFFFF */
        --card-foreground: 222 47% 11%; /* #0F172A */

        --primary: 0 0% 100%; /* #FFFFFF */
        --primary-foreground: 222 47% 11%; /* #0F172A */

        --secondary: 222 47% 11%; /* #0F172A */
        --secondary-foreground: 0 0% 100%; /* #FFFFFF */

        --accent: 215 16% 47%; /* #64748B */
        --accent-foreground: 222 47% 11%; /* #0F172A */

        --destructive: 0 84% 60%; /* #EF4444 */
        --destructive-foreground: 0 0% 100%; /* #FFFFFF */

        --ring: 214 32% 91%; /* #E2E8F0 */

        --radius: 0.5rem;
    }

    .dark {
        --background: 222 47% 11%; /* #0F172A */
        --foreground: 0 0% 100%; /* #FFFFFF */

        --muted: 217 33% 17%; /* #1E293B */
        --muted-foreground: 215 25% 27%; /* #334155 */

        --popover: 222 47% 11%; /* #0F172A */
        --popover-foreground: 0 0% 100%; /* #FFFFFF */

        --border: 215 25% 27%; /* #334155 */
        --input: 215 25% 27%; /* #334155 */

        --card: 222 47% 11%; /* #0F172A */
        --card-foreground: 0 0% 100%; /* #FFFFFF */

        --primary: 222 47% 11%; /* #0F172A */
        --primary-foreground: 0 0% 100%; /* #FFFFFF */

        --secondary: 0 0% 100%; /* #FFFFFF */
        --secondary-foreground: 222 47% 11%; /* #0F172A */

        --accent: 215 16% 47%; /* #64748B */
        --accent-foreground: 222 47% 11%; /* #0F172A */

        --destructive: 0 84% 60%; /* #EF4444 */
        --destructive-foreground: 0 0% 100%; /* #FFFFFF */

        --ring: 215 25% 27%; /* #334155 */

        --radius: 0.5rem;
    }
}

/* Rules */
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply scroll-m-20 tracking-tight;
    }

    h1 {
        @apply text-4xl font-extrabold;
    }

    h2 {
        @apply text-3xl font-semibold;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    p {
        @apply leading-7;
    }

    code {
        @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    ul {
        @apply my-6 ml-6 list-disc;
    }

    table {
        @apply w-full;
    }

    tr {
        @apply m-0 border-t p-0 even:bg-muted;
    }

    th {
        @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }

    td {
        @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
}

/* Custom Class */
@layer base {
    .lead {
        @apply text-xl;
    }

    .large {
        @apply text-lg font-semibold;
    }

    .small {
        @apply text-sm font-medium leading-none;
    }

    .muted {
        @apply text-sm text-muted-foreground;
    }
}
